<section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Upcoming Matches</h2>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6" style="margin-bottom:20px;" ng-repeat="d in UPCM">
                                <div class="card" ng-click="navMatchdata(d.unique_id);" style="cursor:pointer">
  <div class="card-block">
  <div style="margin: -28px 45%;"><button class="btn btn-primary btn-circle btn-lg">VS</button></div>
   <div> <div style="float:left; width:50%"><h1  style="font-size: 16px;" class="card-title"><strong>{{d["team-1"]}}</strong></h1></div>
	<div style="float:right;width:50%"><h1 style="font-size: 16px;" class="card-title pull-right"><strong>{{d["team-2"]}}</strong></h1></div>
	</div>
	<div ><span ng-if="d.matchStarted" class="badge" style="background-color: #5cb85c;border-color: #4cae4c;">Matche Stared</span>
	<span ng-if="!d.matchStarted" class="badge">Matche Not Stared</span>
	<span class="pull-right" ><i class="fa fa-clock-o" aria-hidden="true"></i> Date : {{d.date}}</span></div>
    
    
    
    
  </div>
</div>
                            </div>
							
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>